{{ template "base" . }}

{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto p-3 text-center">
            <h1 class="p-3 text-dark">This is the Home Page</h1>
        </div>
    </div>
</div>

{{ end }}